certifi==2020.12.5
chardet==4.0.0
click==8.0.1
Flask==2.0.1
idna==2.10
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.2
opencv-contrib-python==4.5.2.52
requests==2.25.1
urllib3==1.26.5
Werkzeug==2.0.1
